<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Lephone.Settings" type="Lephone.Util.Setting.NameValueSectionHandler, Lephone.Util" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <Lephone.Settings>
    <!--<add key="SqlLogRecorder" value="Lephone.Util.Logging.ConsoleMessageRecorder, Lephone.Util"/>
    <add key="DefaultContext" value="SQLite" />
    <add key="SQLite.AutoCreateTable" value="true"/>
    <add key="SQLite.DataBase" value="@SQLite : @~SamplesData.sdb" />
    <add key="SQLite.DbProviderFactory" value="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.66.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />-->
    <add key="DefaultContext" value="SQLite" />
    <add key="SQLite.AutoCreateTable" value="true"/>
    <add key="SQLite.DataBase" value="@SQLite : @~EDXX.sdb" />
    <add key="SQLite.DbProviderFactory" value="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.66.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    <add key="Lang.DataBase" value="@SQLite : @~Language.sdb" />
    <add key="Lang.DbProviderFactory" value="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.66.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    <add key="SamplesData.AutoCreateTable" value="true"/>
    <add key="SamplesData.DataBase" value="@SQLite : @~SamplesData.sdb" />
    <add key="SamplesData.DbProviderFactory" value="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.66.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />
    </Lephone.Settings>
</configuration>